<a href="#">
  <%= render partial: 'shared/user_card', locals: { user: @user } %>
</a>

<div class="contaienr-btn-add-post">
<p class="btn-add-post"><%= link_to "Add Post", new_user_post_path %><p>
</div>

<% @posts.each do |post| %>
  <a href="<%= user_post_path(@user, post) %>" id="user_post_<%= post.id %>">
    <%= render 'shared/post_card', post: post %>
  </a>

  <div class="comments">
  <% if post.recent_comments.any? %>
    <ul>
      <% post.latest_comments.each do |comment| %>
        <li>
          <%= render partial: 'shared/comment_card', locals: { comment: comment } %>
        </li>
      <% end %>
    </ul>     
    <% else %>
      <p>There are no comments yet.</p>
    <% end %>
  </div>
<% end %>


<button type="button" class="btn-pagination">Pagination</button>