<div class="main-container">
  <div class="post">
    <div class="post-header">
      <ul>
        <li>
          <h3>
            <%= @post.title %> 
            <span>by <%= @post.author.name %></span>
          </h3>          
        </li>
        <li class="post-interactions2">
          <span>Comments: <%= @post.commentsCounter %></span>,
          <span>Likes: <%= @post.likesCounter %></span>
        </li>
      </ul>
    </div>
    <div class="post-paragraph">
        <p><%= @post.text %></p>
    </div>
    <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |f| %>
      <span><%= f.submit "Like", class: "btn" %></span>
    <% end %>
  </div>

  <div class="comments">
    <ul>
      <% @post.latest_comments.each do |comment| %>
        <li>
          <%= render partial: 'shared/comment_card', locals: { comment: comment } %>
        </li>
      <% end %>
    </ul>
     <%= link_to 'Add Comment', new_user_post_comment_path(@user, @post), class: 'btn' %>
  </div>
</div>