<div>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="normal-inputs">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Name", class: 'input' %>
  </div>

  <div class="normal-inputs">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'input' %>
  </div>

  <div class="normal-inputs">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: 'input' %>
  </div>

  <div class="normal-inputs">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class: 'input' %>
  </div>

  <div class="button-container">
    <%= f.submit "Sign up", class: "btn" %>
  </div>
<% end %>

<%= render "users/shared/links" %>


</div>
